@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0; padding: 0;}

body { font-family: 'Work Sans', sans-serif;
    font-size: 16px;}

 h1,h2,h3,h4,h5,h6{ font-family: 'Oswald', sans-serif; font-weight: 500; }

section{padding: 20px 0px;}
     
/* First Menu  "Website Design Part 01" suru*/

.primaryMenu {
    position: sticky;
    top: 0;
    background: #fff;
}

header#topBar {
    position: sticky;
    top: -41px;
    z-index: 999;
}
        
.topBarMain { background: #f5f5f5; }
        
.container {
            width: 1140px;
            padding-left: 15px; 
            padding-right: 15px; 
            margin: auto; }
            
.topbarWrapper { overflow: hidden; }
        
.phone {
                width: 250px;
                float: left;
                padding: 8px 7px;
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd;
                }
            
.Emali {
    width: 700px;
    float: left;
    padding: 8px 7px;
    }
.Emali a {
     color: black;
     text-decoration: none;
}
            
.Social {
                width: 104px;
                float: left;
                transition: .3s;
                }
        
.Social a {
                display: block;
                float: left;
                padding: 9px;
                border-right: 1px solid #ddd;
                color: #2b2b2b; }
        
.Social i:hover{ color: #1BBFb8; }
        
.Social a:first-child{ border-left:1px solid #ddd;}
        
.phone i {color: #FF5200;margin-right: 4px;font-size: 20px;}
            
.Emali i {color: #FF5200;margin-right: 7px;}

/* First Menu header "Website Design Part 01"ses*/
        
/* 2nd Menu "Website Design Part 02" suru*/

        
.primaryWrapper {
    overflow: hidden;
    width: 100%; }


.logo {width: 150px;float: left; margin-top: 10px; }
            
.menu {
                width: 990px;
                float: left; }
            
ul.mainMenuItem {
                list-style: none;
                float: right; }
            
ul.mainMenuItem li { float: left; }
            
ul.mainMenuItem li a {
                text-decoration: none;
                font-family: 'Work Sans', sans-serif;
                display: block;
                padding: 25px 12px;
                color: #0C0400;
                font-weight: 500;
                transition: .3s;
}
        
ul.mainMenuItem li a:hover{background: #1BBFb8; color: white;}

i.fas.fa-user-circle {
    font-size: 29px;
    margin-top: -6px;
}

/* 2 Nd "Website Design Part 02" ses*/

/* Header ses*/

/* about me suru*/ 
section#AboutMe {
    background: #f7f7f7;
}      
.aboutContant {overflow: hidden;}


.aboutImg {
                width: 450px;
                float: left;
                transition: 0.3s;
                margin-top: 25px;
}
        
.aboutImg img {
                max-width: 100%;
}

.aboutImg:hover {
    cursor: pointer;
    transform: scale(1.1);
}
            
.aboutdes {
                width: 620px;
                float: right;
                margin-top: 25px;
}
        
.my.contant h2 {
                font-size: 33px;
                margin-bottom: 20px;
                text-transform: uppercase;
}
            
.my.contant p {
                font-size: 19px;
                margin-bottom: 21px;
                text-align: justify;
                word-spacing: -3px;
                line-height: 26px;
}
.my.contant h3 {
                font-size: 29px;
                padding-top: 6px;
                padding-bottom: 12px;
}
            
.my.contant h6 {
                font-size: 17px;
                padding-bottom: 6px;
                color: #666;
}
/* MoreBtn*/

.MoreBTN {
    margin-top: 40px;
}

.MoreBTN a {
    background: #ff5200;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    padding: 7px 14px;
    display: block;
    width: 79px;
    border-radius: 4px;
    text-align: center;
}
.MoreBTN a i {
    margin-left: 6px;
    font-size: 16px;
}

.MoreBTN a:hover{ background: #1BBFb8;transition: .2s; }
/* MoreBtn ses*/
/* about me ses*/











/* footer suru */

footer#footer {
    background: #222;
    padding-top: 110px;
}

.footerWrapper {
    overflow: hidden;
    margin-bottom: 50px;
}
.footerWrapper h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.footerLogo {
    overflow: hidden;
    float: left;
    width: 270px;
    margin-right: 10px;
}

.footerAboutUs {
    overflow: hidden;
    float: left;
    width: 270px;
    margin-right: 25px;
    color: #ddd;
}

.footerAboutMe {
    color: #ddd;
    overflow: hidden;
    float: left;
    width: 270px;
    margin-right: 25px;
}

.footerfollowUs {
    overflow: hidden;
    float: left;
    color: #ddd;
    width: 270px;
}

.footerLogo img {
    margin-top: 50px;
    width: 99%;
}
.footerfollowUs h2 {margin-left: 15px;}

.footerIcon {
    display: inline-block;
}

.footerIcon a i {
    font-size: 31px;
    margin-left: 12px;
}

.footerIcon a:first-child {
    color: #1374ea;
}
.footerIcon a:nth-child(2) {
    color: #08baff;
}
.footerIcon a:nth-child(3) {
    color: #FF0000;
}
.footerIcon a:nth-child(4) {
    color: #0e76a8;
}
.footerIcon a:nth-child(5) {
    color: #29b438;
}
.footerIcon a:last-child {
    color: #00aff0 ;

}
/* footer ses */

/* copyRightContant suru */

.copyRightContant {
    color: #999;
    border-top: 1px solid #333;
    text-align: center;
    padding: 15px 0px;
    background: #0d0d0d;
}

.copyRight_1 {
    overflow: hidden;
    float: left;
    margin-left: 8px;
}

.copyRight_2 {
    display: inline-block;
}

.copyRight_2 p {
    float: left;
    margin-left: 600px;
    color: #1BBFb8;
}
/* copyRightContant ses */
